.about__title {
    font-family: $rubik;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}

.about__content {
    font-family: $inter;
    font-weight: $normal;
    font-size: 9px;
}
