.experience__title {
    font-family: $rubik;
    font-size: 13px;
    font-weight: $bold;
    text-transform: uppercase;
}

.experience__list {
    list-style: none;
    padding: 0;
}

.experience__work {
    font-family: $inter;
    font-size: 9px;
    font-weight: $normal;
}

.experience__profession-name {
    font-family: $rubik;
    font-size: 10px;
    font-weight: $bold;
}

.experience__company-name {
    font-family: $rubik;
    font-weight: $medium;
    font-size: 10px;
    color: $subtitle-text-color;
}

.experience__about-work {
    font-family: $inter;
    font-weight: $normal;
    font-size: 9px;
}

.experience__work-skills-item {
    font-family: $inter;
    font-weight: $normal;
    font-size: 8px;
}

.experience__divide-line {
    border: 1px dashed lightgray;
}
