//device width & dpi

$tablet-width: 660px;
$desktop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$tablet-width-only: 959px;
$mobile-width-only: 659px;
$mobile-tablet-width: 959px;

// font weights

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// fonts family scheme

$inter: "Inter", "Arial", sans-serif;
$rubik: "Rubik", "Arial", sans-serif;
